body, html {
    height: 100%;
    margin: 0px;
    background: #f7f7f7;
}

/* .bg_cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
} */

.bg_cover {
    background-image: url("https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320__340.jpg");
    /* Set a specific height */
    height: 100px; 
    height: 100vh !important;
    /* width: 100%; */
    left: 0;
    right: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292B2C;
    opacity: 0.5 !important;
    position: absolute;
}


.header_style {
    position: absolute;
    width: 100%;
    /* z-index: 1; */
    bottom: 0;
    /* opacity: 1 !important; */
    height: 100vh;
}


.nav_con {
    padding: 10px 60px 10px 60px;
}
/* 
.navbar {
    z-index: 3; 
    width: 100%;
    box-shadow: 50px black;
} */

.fixed-top.scrolled {
    background: #F7F7F7;
    transition: background-color 200ms linear;
    box-shadow: 0px 5px 25px #C4C4C4;
}

.logo_text.scrolled {
    color: #292B2C !important;
}

a.scrolled {
    color: #292B2C !important;
}

.logo_text {
    font-size: 1.25em;
    font-weight: 500;
    color: #F7F7F7 !important;
    z-index: 4;
}

a {
    font-size: 1rem;
    color: #F7F7F7  !important;
    z-index: 3 !important;
}

.header_title {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    z-index: 2;
    /* background: #f7f7f7; */
    top:100px;
}

.header_title > h1 {
    margin-bottom: 9rem;
}

h1 {
    color: #f7f7f7;
    z-index: 3;
}

.parallax-window {
    height: 100%;
	min-height: 400px;
    background: transparent;
}

.blog_post_con {
    /* max-width: 800px !important; */
    color: #555555;
    margin-bottom: 30px;
}

h5 {
    color: #292B2C;
}

.h5_margin_bottom {
    margin-bottom: 1.625em !important;
}

/* .tags_con {
    max-width: 800px !important;
} */

.tags_con > .row > p {
    color: #555555;
}

.social_share_con {
    /* max-width: 800px !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 40px 0 40px 0; */
}

.social_share_title, .social_share_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_share {
    padding: 0.5em 1.5em 0.5em 1.5em !important;
    border-radius: 25px !important;
    /* margin: 0 15px 0 15px; */
    margin: 0 1% 0 1%;;
}

.btn_text {
    color: #FFFFFF;
    font-size: 0.6rem;
    align-self: center;
}

.btn_share_fb {
    background: #3b5998 !important;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.btn_share_twitter {
    background: #00aced !important;
}

.btn_share_google {
    background: #dd4b39 !important;
}

.hr_divider {
    width: 77.7777%;;
}

/* .author_box_con { */
    /* max-width: 800px !important; */
    /* margin: 40px 0 40px 0; */
/* } */

.author_box_con > .row, .author_box_con > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.author_name {
    margin: 0.8em;
}

.author_box_con > .row > p {
    text-align: center;
    color: #555555;
    padding: 0 15% 0 15%;
}

.author_box_con > ul {
    padding: 0 !important;
}

.author_box_con > ul > a {
    color: #292B2C !important;
    margin: 0 5px 0 5px;
}

.section_white {
    background: #ffffff !important;
}

.comments_con {
    /* max-width: 800px !important; */
    /* padding-top: 40px; */
}

p {
    color: #555555;
}

.comment_section {
    margin-bottom: 30px;
}

.comment_title > h6 {
    margin-bottom: 60px;
}

.comment_date {
    margin-bottom: 1em;
}

.avatar_img_comment {
    width: 70px;
    border-radius: 50%;
}

.font_italic {
    font-style: italic !important;
}

.leave_comment_con {
    /* max-width: 800px !important; */
    /* margin: 40px 0 40px 0; */
}

.comment_h6 {
    margin-bottom: 30px;
}

.form-control {
    border: none !important;
}

.form_midsize {
    height: 3rem !important;
}

.btn_submit {
    background: #292B2C !important;
    padding: 0.5em 2.5em 0.5em 2.5em !important;
}

/* @media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        padding-left: 15% !important;
        padding-right: 15% !important;
        
    }
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.parallax-window {
    min-height: 600px;
    /* height: 100%; */
    /* background: transparent;
    z-index: 1 !important;
} */ 


@media screen and (min-width: 768px) {
    .container {
        width:60%;
    }
}

@media screen and (max-width: 767px) {
    .btn {
        margin-bottom: 10px;
    }
    .col-sm-12 {
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .author_box_con > .row > p {
        padding: 0;
    }
    .social_share_con {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width:575px) {
    .container {
        width: 88%;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width:767px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 575px) {
    .avatar_img_comment {
        width: 60px;
    }
}

@media screen and (max-width: 490px) {
    .comments_con > .row > .col-2 {
        padding:0  !important;
    }
}

.btn-ctm {
    width: inherit;
    /* height: 50px; */
    outline: none !important;
}

.btn:focus{
    box-shadow: none;
}

.form-control:focus {
    box-shadow: 0.5px 0.5px 30px #C4C4C4 !important;
    /* color: transparent; */
}
