/* .bg-dark {
    z-index: 1000 !important;

position: fixed !important;

width: 0 !important;

height: 100% !important;

margin-right: 0 !important;

overflow-y: auto !important;

background: blue !important;

-webkit-transition: all 0.5s ease;

-moz-transition: all 0.5s ease;

-o-transition: all 0.5s ease;

right: 1000px !important;

transition: all 0.5s ease;

margin-left: 0 !important;
} */