body, html {
    height: 100%;
    margin: 0px;
    background: #f7f7f7;
    opacity: 0;
    animation: body 1.0s ease forwards;
}

@keyframes body { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes body { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes body { from { opacity:0; } to { opacity:1; } }
@-o-keyframes body { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes body { from { opacity:0; } to { opacity:1; } }

/* Paddings */
.padding-0 {
    padding: 0;
}

.padding-10 { 
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-40 {
    padding: 40px;
}

.padding-50 {
    padding: 50px;
}

.padding-60 {
    padding: 60px;
}

.padding-70 {
    padding: 70px;
}

.padding-top-0{
    padding-top: 0;
}

.padding-top-10 {
    padding-top: 10px;
}
/* End of Paddings */

/* Margins */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}
/* End of Margins */

.hr-divider {
    width: 77.7777%;;
}

/* Section Styles */
.section_white {
    background: #ffffff !important;
}
/* End of Section Styles */

/* Background Colors */
.bg-white {
    background: #f7f7f7;
}

.bg-light-grey {
    background: #c4c4c4;
}

.bg-dark-grey {
    background: #555555;
}

.bg-black {
    background: #292B2C;
}
/* End of Background Colors */

/* Font stylings */
.font-white {
    color: #f7f7f7 !important;
}

.font-light-grey {
    color: #c4c4c4 !important;
}

.font-dark-grey {
    color: #555555 !important;
}

.font-black {
    color: #292B2C !important;
}

.font-italic {
    font-style: italic !important;
}

a:hover {
    opacity:0.5;
    transition: 0.3s;
}
/* End of Font Stylings */

/* Navbar */
.nav-style-1 {
    padding: 15px 60px 15px 60px;
}
/* End of Navbar */

/* Navbar Scrolling Effect */
.fixed-top.scrolled {
    background: #F7F7F7;
    transition: background-color 200ms linear;
    box-shadow: 0px 5px 25px #C4C4C4;
}

h4.scrolled {
    color: #292B2C !important;
}

a.scrolled {
    color: #292B2C !important;
}
/* End of Navbar Scrolling Effect */

/* Parallax */
.parallax-window {
    height: 100%;
	min-height: 400px;
    background: transparent;
}

.parallax-window::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292B2C;
    opacity: 0.5 !important;
    position: absolute;
}
/* End of Parallax */

/* Post Titles */
.title-center {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    top: 0;
}

.text-overlay {
    z-index: 2;
}
/* End */

/* Form Styles */
.form-control {
    border: none !important;
}

.form-40 {
    height: 40px !important;
}

.form-control:focus {
    box-shadow: 0.5px 0.5px 30px #C4C4C4 !important;
}
/* End of Form Styles */

/* Button Styles */
.btn-style-1 {
    padding: 0.5em 1.5em 0.5em 1.5em !important;
    border-radius: 25px !important;
    width: inherit;
}

.btn-style-2 {
    padding: 0.5em 2.5em 0.5em 2.5em !important;
}


.btn-share-fb {
    background: #3b5998 !important;
}

.btn-share-twitter {
    background: #00aced !important;
}

.btn-share-google {
    background: #dd4b39 !important;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.btn:focus{
    box-shadow: none;
}

.btn-text {
    color: #f7f7f7;
    font-size: 10px;
    align-self: center;
}
/* End of Button Styles */

/* Aligning Content */
.content-horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* End of Aligning Content */

/* Avatars */
.avatar-70 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.avatar-120 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* End of Avatars */

.author-container > .row > p {
    text-align: center;
    color: #555555;
    padding: 0 15% 0 15%;
}

.author-container > ul > a {
    color: #292B2C !important;
    margin: 0 5px 0 5px;
}

@media screen and (min-width: 768px) {
    .container {
        width:60%;
    }
}

@media screen and (max-width: 767px) {
    .btn {
        margin-bottom: 15px;
    }
    .col-sm-12 {
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .nav-style-1 {
        padding: 10px 0px 10px 0px;
    }
    .author-container > .row > p {
        padding: 0;
    }
    .social-container {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width:575px) {
    .container {
        width: 88%;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width:767px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 575px) {
    .avatar-comment {
        width: 60px;
    }
}

@media screen and (max-width: 490px) {
    .comments-container > .row > .col-2 {
        padding:0  !important;
    }
}



